html,
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

.container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.social-icon {
    max-width: 28px;
    height: auto;
    display: block;
    padding-top: 25px;
    margin-left: 40px;
    position: absolute;
    padding-top: 30px;
}

#instagramIcon {
    margin-top: 550px;
}

#facebookIcon {
    margin-top: 600px;
}

#emailIcon {
    margin-top: 650px;
}

#viewReelNav {
    margin-top: 140px;
}

#photoNav {
    margin-top: 300px;
}

#aboutNav {
    margin-top: 435px;
    margin-left: 25px;
}

.nav-item-side {
    font-size: 18px;
}

.nav-item-side a {
    color: white !important;
}

.nav-item {
    font-size: 18px;
    padding-top: 17px;
    text-align: center;
}

.nav-item a {
    color: white !important;
}

.left-items {
    float: left;
}

.right-items {
    float: right;
}

.video-container {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid white;
}

#video-bg {
    position: relative;
    width: 100%;
    min-width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
    z-index: -1000;
}

video {
    display: block;
}

.full-height-nav {
    background-image: linear-gradient(to right, #707070, #000);
    height: 100% !important;
    width: 110px !important;
    min-width: 110px !important;
    overflow: hidden;
    position: fixed;
    border-left: 1px solid white;

}

.no-pad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.rotate {
    padding: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    font-size: 17px;
    color: white;
    position: absolute;
}

.rotate:hover {
    color: lightgray !important;
}

.video-overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.expand-img {
    position: absolute;
    margin-top: -100px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    z-index: 20;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.expand-img:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.intro-container {
    position: absolute;
    margin-top: -500px;
    margin-left: 150px;
}

.top-intro {
    font-size: 40px;
    color: white;
    font-weight: 200;
    text-shadow: 2px 2px 8px #707070;
    letter-spacing: 10px;
}

.two-intro {
    font-size: 20px;
    color: white;
    font-weight: 200;
    text-shadow: 2px 2px 8px #707070;
    letter-spacing: 5px;
}

.three-intro {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 8px #707070;
    letter-spacing: 5px;
}

.view-reel-cont {
    height: 800px;
    width: 100%;
    display: block;
    position: relative;
    background-color: #707070;
    z-index: 1;
    border-bottom: 1px solid white;
}

.view-reel-cont::after {
    content: "";
    background: url("./images/niteshoes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.photo-cont {
    height: 800px;
    width: 100%;
    display: block;
    position: relative;
    background-color: #707070;
    z-index: 1;
    border-bottom: 1px solid white;

}

.photo-cont::after {
    content: "";
    background: url("./images/LV_8452.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.contact-cont {
    height: 800px;
    width: 100%;
    display: block;
    position: relative;
    background-color: #707070;
    z-index: 1;
}

.contact-cont::after {
    content: "";
    background: url("./images/nite-bike-la-jonny.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.open-container {
    padding-top: 300px;
}

.inner-text {
    display: inline-block;
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
    padding-left: 20%;
    text-shadow: 2px 2px 8px #707070;
}

.big-circle {
    display: inline-block;
    padding: 50px;
    background-color: white;
    width: 130px;
    text-align: center;
    font-size: 20px;
    margin-left: 50px;
    border-radius: 100px;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a.play,
a.play:visited {
    font-style: italic;
    text-transform: uppercase;
    color: #111;
    text-decoration: none;
    font-size: 18px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;
    z-index: 10;
    border: none;
    margin-left: 670px;
    margin-top: -93px;
}

.play .circle {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    z-index: -1;
}

.circle:hover {
    background-color: red;
}

#photoCircle {
    margin-left: 725px
}

#innerPhotoTxt {
    padding-left: 820px;
}

.name-container {
    text-align: center;
    margin-top: 275px;
}

.name {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 8px #707070;
}

.about-holder {
    text-align: center;
    margin-top: 250px;
}

.about {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 8px #707070;
}

.social-icon-btm-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-btm {
    max-width: 40px;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    align-items: center;
}

.up-arrow {
    background-color: white;
    width: 40px;
    margin-left: 25px;
    margin-top: 360px;
    z-index: 1000;
    height: 40px;
    border: 1px solid black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}

.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding-top: 120px;
    text-align: center;
    padding-right: 150px;
    padding-left: 150px;
    background: rgba(0, 0, 0, 0.9);
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 150px;
    cursor: pointer
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 2px;
    margin-left: 35px;
    background-color: #ffff;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 2px;
    background-color: #ffff;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}

.modal-dialog {
    margin: 0;
    height: 100%;
    width: auto
}

.modalRow {
    width: 120%;
    float: right;
    margin-top: 20px;
}

.modal-headings {
    padding: 30px;
}
.modal-title {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 8px #707070;
}

.reel-container-modal {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.reel-container-modal iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

.modal-close {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #707070;
    font-size: 20px;
    color: white;
    font-weight: 200;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.modal-close:hover {
    background-color: red;
    border: 1px solid white;
}

.d-block {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.w-100 {
    width: 75% !important;
    max-width: 75% !important;
    min-width: 75%;
}

.mobile-nav-container {
    height: 75px;
    position: fixed;
    min-width: 100%;
    top: 0;
    background-image: linear-gradient(#707070, #202020);
    z-index: 1500;
    border-bottom: 1px solid white;
}

.nav {
    height: 100%;
}

.social-icon-top {
    max-width: 24px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}

.social-container-top {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
    }

    .navbar-nav {
        
        margin-top: 3px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        background-image: url("./images/nightstarrs.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
}

/* .navbar-nav::before {
    background-image: url("./images/nightstarrs.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
} */

.social-link {
    width: 60px;
    display: inline-block;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: rgba(255,255,255,.1);
}

.btm-link-social {
    width: 75px;
    align-items: center;
    text-align: center;
}
.carousel {
    position: relative;
    min-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

@media (max-width: 1360px) {
    .nav-link-side {
        margin-left: -5px;
    }
    #aboutNav {
            margin-left: 20px;
    }
    .social-icon {
        margin-left: 30px;
    }
}

@media (max-width: 1340px) {
    #photoCircle {
        margin-left: 570px;
    }
    #innerPhotoTxt {
        padding-left: 670px;
    }
}

@media (max-width: 1275px) {
    .nav-link-side {
        margin-left: -10px;
    }
    #aboutNav {
            margin-left: 14px;
    }
    .social-icon {
        margin-left: 25px;
    }
    .intro-container {
        margin-top: -350px;
    }
}

@media (max-width: 1180px) {
    .nav-link-side {
        margin-left: -10px;
    }
    #aboutNav {
            margin-left: 14px;
    }
    .social-icon {
        margin-left: 25px;
    }
    .inner-text {
        padding-left: 100px;
    }
    a.play, a.play:visited {
        margin-left: 500px;
    }
}

@media (max-width: 1175px) {
    #photoCircle {
        margin-left: 405px;
    }
    #innerPhotoTxt {
        padding-left: 500px;
    }
}

@media (max-width: 1099px) {
    .nav-link-side {
        margin-left: -18px;
    }
    #aboutNav {
            margin-left: 7px;
        }
    .social-icon {
        margin-left: 16px;
    }

}

@media (max-width: 1024px) {
    .intro-container {
        margin-left: 90px;
    }
}

@media (max-width: 992px) {
    .inner-text {
        padding-left: 55px;
    }
    a.play, a.play:visited {
        margin-left: 440px;
    }
    .open-container {
        padding-top: 400px;
    }
    .portfolio-modal .modal-content {
        padding-left: 75px;
        padding-right: 75px;
    }
    .portfolio-modal .close-modal {
        right: 75px;
    }
    #photoCircle {
        margin-left: 350px;
    }
    #innerPhotoTxt {
        padding-left: 445px;
    }

}

@media (max-width: 991px) {
    .name-container {
        text-align: center;
        margin-top: 50px;
    }
    .about-holder {
        text-align: center;
        margin-top: 20px;
    }
    .contact-cont {
        height: 400px;
    }
    .contact-cont::after{
        background-position: center;
    }
    .social-icon-btm {
        padding-top: 50px;
    }
    .name {
        font-size: 30px;
    }
    .about {
        font-size: 18px;
    }
    .social-icon-btm {
        max-width: 28px;
    }
}

@media (max-width: 980px) {
    .intro-container {
        margin-left: 60px;
        margin-top: -275px;
    }
    .top-intro {
        font-size: 30px;
    }
}

@media (min-width: 980px) {
    .mobile-nav-container {
        display: none !important;
    }
}

@media (max-width: 980px) {
    .full-height-nav {
        display: none;
    }
    .col-lg-11, .col-md-11, .col-sm-11 {
        min-width: 100% !important;
        width: 100% !important;
    }
    .video-container {
        margin-top: 75px;
    }
    .portfolio-modal .modal-content {
        margin-top: 75px;
    }
}

@media (max-width: 860px) {
    #photoCircle {
        margin-left: 235px;
    }
    #innerPhotoTxt {
        padding-left: 330px;
    }

}

@media (max-width: 768px) {
    .photo-cont {
        height: 600px;
    }
    .view-reel-cont {
        height: 600px;
    }
    .about-cont {
        height: 400px;
    }
    .open-container {
        padding-top: 280px;
    }
}

@media (max-width: 745px) {
    #photoCircle {
        margin-left: 120px;
    }
    #innerPhotoTxt {
        padding-left: 210px;
    }
}

@media (max-width: 685px) {
    .top-intro {
        letter-spacing: 5px;
    }
    .two-intro {
        letter-spacing: 2px;
    }
    .three-intro {
        letter-spacing: 2px;
    }
    .expand-img {
        width: 40px;
        margin-top: -50px;
    }
    .intro-container {
        margin-left: 40px;
        margin-top: -200px;
    }

}

@media (max-width: 630px) {
    #photoCircle {
        margin-left: 55px;
    }
    #innerPhotoTxt {
        padding-left: 150px;
    }
}

@media (max-width: 550px) {
    .inner-text {
        margin-left: 30px;
        font-size: 32px;
    }
    a.play, a.play:visited {
        margin-left: 355px;
        margin-top: -80px;
    }
    #innerPhotoTxt {
        margin-left: 0px;
    }
}

@media (max-width: 450px) {
    .top-intro {
        letter-spacing: 0px;
        font-size: 22px;
        
    }
    .two-intro {
        letter-spacing: 0px;
        font-size: 14px;
    }
    .three-intro {
        letter-spacing: 0px;
        font-size: 14px;
    }
    .intro-container {
        margin-top: -155px;
    }
    .portfolio-modal .modal-content {
        padding-left: 25px;
        padding-right: 25px;
    }
    .portfolio-modal .close-modal {
        right: 25px;
    }
    .view-reel-cont {
        height: 400px;
    }
    .photo-cont {
        height: 400px;
    }
    .open-container {
        padding-top: 180px;
    }
    #photoCircle {
        margin-left: 25px;
    }
    #innerPhotoTxt {
        padding-left: 115px;
    }
}

@media (max-width: 414px) {
    .inner-text {
        padding-left: 0px;
        letter-spacing: 2px;
    }
    a.play, a.play:visited {
        margin-left: 265px;
    }
}

@media (max-width: 375px) {
    .inner-text {
        margin-left: 25px;
        font-size: 28px;
    }
    a.play, a.play:visited {
        margin-left: 235px;
        margin-top: -77px;
    }
}
@media (max-width: 325px) {
    .inner-text {
        margin-left: 20px;
        font-size: 24px;
    }
    a.play, a.play:visited {
        margin-left: 235px;
        margin-top: -77px;
    }
    a.play, a.play:visited {
        margin-left: 205px;
    }
}

